@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>忘記密碼</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="~/Img/favicon.svg" />
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #1A2A4F;
        }

        .login-container {
            background: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .form-group {
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
    <div class="login-container">
        <div class="text-center">
            <img src="~/pic/logo.svg" alt="Logo" style="height: 45px; width: 100%;">
        </div>
        <form action="/Account/ForgotPassword" method="post">
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="請輸入您的Email" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">發送重置信件連結</button>
        </form>
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.ErrorMessage
            </div>
        }
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-success" role="alert">
                @ViewBag.Message
            </div>
        }
    </div>
</body>
</html>