@using TISS_WMS.Models
@model Product
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <form asp-action="Add" method="post">
            <div>
                <label asp-for="ProductName">產品名稱：</label>
                <input asp-for="ProductName" />
                <span asp-validation-for="ProductName"></span>
            </div>
            <div>
                <label>產品條碼</label>
                <input type="text" name="ProductBarcode" required />
            </div>
            <div>
                <label>供應商ID</label>
                <input type="text" name="supplierId" required />
            </div>
            <div>
                <label>數量</label>
                <input type="number" name="quantity" required />
            </div>
            <div>
                <label>產品圖片</label>
            </div>
            <button type="submit" class="btn btn-primary">提交</button>
        </form>
    </div>
</body>
</html>
